<script>
AOS.init();
</script>
<header class="secondary_header">

  <a href="/resumes">Accueil</a>
  <h1>Mentions légales</h1>
  <%= image_tag("logo.webp", class: "logo_header_sec", alt: "Logo of LHMUN") %>

</header>

<section class="mentions">

  <h2>Propriétaire</h2>

  <p><strong>Model United Nations - Société Havraise Universitaire
  </strong></p>

  <div class="mentions_space">

    <p><strong>Siège social :</strong> 26 rue des Galions, 76600 Le Havre</p>
    <p><strong>Siret :</strong> 924 619 679 00013</p>

  </div>

  <div class="mentions_space">


    <p><strong>Adresse mail :</strong> contact@lhmun.fr</p>

  </div>

  <h2>Hébergeur</h2>

  <div class="mentions_space">

    <p><strong>Scalingo SAS</strong></p>
    <p><strong>Adresse mail :</strong> security@scalingo.com</p>

  </div>

  <p><strong>Siège social :</strong> 13 rue Jacques Peirotes 67000 Strasbourg France</p>


  <h2>Droits d’auteur / Copyrights</h2>
  <p>
    Tous les résumés et contenus présent sur notre site sont protégés
    par des droits d’auteur et appartiennent à Le Havre MUN sauf mention contraire.
     Toute reproduction et réutilisation sans autorisation sont interdites.

  </p>


  <h2>Cookies</h2>
  <p>
    L’utilisateur est informé que lors de ses visites sur le site, un cookie
    peut s’installer automatiquement sur son logiciel de navigation.
  </p>

  <p>
    Les cookies sont de petits fichiers stockés temporairement sur le disque
    dur de l’ordinateur de l’utilisateur par votre navigateur et qui sont
    nécessaires à l’utilisation du site https://www.lhmun.fr. Les cookies ne
    contiennent pas d’information personnelle et ne peuvent pas être utilisés
    pour identifier quelqu’un. Un cookie contient un identifiant unique, généré
    aléatoirement et donc anonyme. Certains cookies expirent à la fin de la
    visite de l’utilisateur, d’autres restent.
  </p>

  <p>
    L’information contenue dans les cookies est utilisée pour améliorer le site https://www.lhmun.fr.
  </p>

  <p>
    En naviguant sur le site, L’utilisateur les accepte.
  </p>

  <p>
    L’utilisateur doit toutefois donner son consentement quant
    à l’utilisation de certains cookies. A défaut d’acceptation,
    l’utilisateur est informé que certaines fonctionnalités ou pages
    isquent de lui être refusées. L’utilisateur pourra désactiver ces
    cookies par l’intermédiaire des paramètres figurant au sein de son
    logiciel de navigation.

  </p>


  <h2>Politique de confidentialité</h2>
  <p>
    Le site assure à l'utilisateur une collecte et un traitement
    d'informations personnelles dans le respect de la vie privée
    conformément à la loi n°78-17 du 6 janvier 1978 relative à
    l'informatique, aux fichiers et aux libertés.

  </p>

  <p>
    En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978,
    l'utilisateur dispose d'un droit d'accès, de rectification, de suppression
     et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit :
  </p>

  <ul>
    <li>Par mail à l'adresse email paul.blanquart@sciencespo.fr</li>
    <li>Via son espace personnel</li>
  </ul>

  <p class="date">Ces mentions légales ont été mises à jours pour la dernière fois le : <strong> 30 / 03 / 2024 </strong> </p>

</section>

<footer>
<div class="footer_nav">
  <a href="">Retour en Haut</a>
  <a href=/resumes#conferences"">Participer</a>
  <a href="/resumes">Accueil</a>
</div>

<%= image_tag("logo.webp", class: "logo_footer", alt: "Logo of LHMUN") %>
</footer>
