<div id="<%= dom_id resume %>" class="resume_card">


  <img src=" <%= resume.image %>" alt="Image of an conference">


  <div class="card_body"

  <h4>
    <%= resume.title %>
  </h4>

  <p>
    <%= resume.description %>
  </p>

  </div>



</div>
