<h1>Editing resumesec</h1>

<%= render "form", resumesec: @resumesec %>

<br>

<div>
  <%= link_to "Show this resumesec", @resumesec %> |
  <%= link_to "Back to resumesecs", resumesecs_path %>
</div>
